<!-- Copied from https://katex.org/docs/browser.html#starter-template -->

<link rel="stylesheet" href="{{ '/assets/vendor/katex/katex.min.css' | relative_url }}" />

<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script defer src="{{ '/assets/vendor/katex/katex.min.js' | relative_url }}"></script>

<!-- Automatically display code inside script tags with type=math/tex using KaTeX -->
<script
  defer
  src="{{ site.baseurl }}/assets/js/mathtex-script-type.js"
></script>

<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer src="{{ '/assets/vendor/katex/auto-render.min.js' | relative_url }}"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    if (!window.renderMathInElement) {
      return;
    }
    renderMathInElement(document.body, {
      globalGroup: true,
      trust: true,
      strict: false,
      throwOnError: false,
      delimiters: [
        { left: "$$", right: "$$", display: true },
        { left: "\\[", right: "\\]", display: true },
        { left: "\\(", right: "\\)", display: false },
        { left: "$", right: "$", display: false },
      ],
    });
  });
</script>

<!-- The KaTeX default is 1.21em, see https://katex.org/docs/font.html#font-size-and-lengths -->
<style>
  .katex {
    font-size: 1em;
  }
</style>
